body {
	font-family: Helvetica, Verdana, sans-serif;
	background-color: greenyellow;
	font-size: 14pt;
	letter-spacing: 0.03em;
}

#wrapper {
	width: 80%;
	margin: 0 auto;
}
header {
	width: 20em;
	margin: 2em 0;
}
/*.choices img {
	width: 150px;
}*/